.card {
  background-color: rgb(230, 227, 227);
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  .cardImg {
    text-align: center;
    .cardImg__image {
      width: 90%;
    }
  }
  .cardBody {
    text-align: center;
    .cardBody__title {
      font-size: 42px;
      .cardBody__title--yellow {
        color: rgb(179, 179, 12);
      }
    }
    .cardBody__paragraph {
      text-transform: capitalize;
    }
  }
}
